# 不提交的本地文件
draft.md

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Environment
.env
.env.local
.env.*.local

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Debug / build
npm-debug.log*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# TypeScript
*.tsbuildinfo
